<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Breaking Bad Quotes</title>
</head>

<body>

    <form action="/">
        <h4>Quote:</h4>
        <p><%= Dialog%></p>

        <h4>Author:</h4>
        <p><%= Character%></p>
    </form>
</body>
</html>
